.form {
 display: flex;
 flex-direction: column;
 width: 100%;
 justify-content: center;
 align-items: center;
 height: 100%;

 &__input,
 &__submit,
 &__textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: $gutter 0;
  border-radius: 0.2rem;
 }

 &__input,
 &__textarea {
  border-bottom: 2px solid $primary;
  max-width: 36rem;
  min-width: 28rem;
  padding: 0.8rem 0.4rem 0.2rem 0.4rem;
  background-color: $white;
 }

 &__submit {
  width: 15.6rem;
  height: 3.9rem;
  background-color: $primary;
  color: $white;
  cursor: pointer;
 }
}

::placeholder {
 color: $primary;
 font-size: $fontSmall;
}
